<div class="sneaker-container">
  <div class="sneaker-title">
    <h1>PRODUTOS</h1>
  </div>

  <div class="sneaker-gallery-wrapper">
    <div class="sneaker-gallery">
      @for(sneaker of sneakersList; track sneaker) {
      <div class="sneaker-gallery-item">
        <figure>
          <img src="{{ sneaker.url }}" />
          <figcaption>
            <span> {{ sneaker.name }} </span>
            <span>R$149,90</span>
          </figcaption>
        </figure>
      </div>
      }
    </div>
    <app-paginator></app-paginator>
  </div>
</div>
