.sneaker-container {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sneaker-title {
  padding-bottom: 2rem;
}

.sneaker-title h1 {
  font-weight: 800;
}

.sneaker-gallery-wrapper {
  background-color: #fff;
  color: #000;
  padding-top: 2rem;
}

.sneaker-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: 2rem;
  padding: 1rem;
}

.sneaker-gallery-item {
  padding: 1rem;

  img {
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    aspect-ratio: 2 / 2;
  }

  figcaption {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;

    :nth-child(1) {
      font-size: 4vh;
      font-weight: 700;
    }

    :nth-child(2) {
      font-size: 3vh;
      font-weight: 900;
    }

    span {
      font-family: "Lato", sans-serif;
    }
  }
}
