* {
  margin: 0;
  padding: 0;
  font-family: "Monomaniac One", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

mat-toolbar {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  font-size: 24px;
}

.mat-toolbar.mat-primary {
  background: #000;
}
